<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Character List</h1>
    <a href="{% url 'character_create' %}"> Создание персонажа</a>
    <ul>
      {% for character in character_list %}
        <li>
          <a href="character/{{character.name }}/"><h2>{{ character.name }}</h2></a>
          <p><strong>Раса:</strong> {{ character.rase }}</p>
          <p><strong>Класс:</strong> {{ character.character_class }}</p>       
        </li>
      {% endfor %}
    </ul>
</body>
</html>