<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if character.author != user %}
    <h1 class="msg">Удалить персонажа может только его автор</h1>
{% else %}
    <h1 class="msg">Вы уверене, что хотите удалить этого персонажа?</h1>
    <form action="{% url 'character_delete' character.name %}" method="POST">
        {% csrf_token %}
        <button type="submit">Удалить</button>
    </form>
    <a href="{% url 'character_detail' character.name %}"> Нет</a>
{% endif %} 
</body>
</html>