<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Character Detail</h1>
    <ul>
        <li>        
          <h2>{{ character.name }}</h2>
          <p><img src="{{ character.avatar.url }}" alt=""></p>
          <p><strong>Раса:</strong> {{ character.rase }}</p>
          <p><strong>Класс:</strong> {{ character.character_class }}</p>
          <p><strong>Пункты Здоровья:</strong> {{ character.hit_points }}</p>
          <p><strong>Сила:</strong> {{ character.strength }}</p>
          <p><strong>Ловкость:</strong> {{ character.dex }}</p>
          <p><strong>Выносливость:</strong> {{ character.con }}</p>
          <p><strong>Интеллект:</strong> {{ character.intelligence }}</p>
          <p><strong>Мудрость:</strong> {{ character.wis }}</p>
          <p><strong>Харизма:</strong> {{ character.cha }}</p>

          <p><strong>Модификатор силы:</strong> {{ character.strength_modifier }}</p>
          <p><strong>Модификатор ловкости:</strong> {{ character.dex_modifier }}</p>
          <p><strong>Модификатор выносливости:</strong> {{ character.con_modifier }}</p>
          <p><strong>Модификатор интеллекта:</strong> {{ character.intelligence_modifier }}</p>
          <p><strong>Модификатор мудрости:</strong> {{ character.wis_modifier }}</p>
          <p><strong>Модификатор харизмы:</strong> {{ character.cha_modifier }}</p>
          
        </li>

    </ul>
</body>
</html>